/* ================================= 
  Base Element Styles
==================================== */

* {
	
}

body, html {
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
}

body {
    background-color:#244e7e;
    background: -webkit-linear-gradient(black, #244e7e);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
}

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

p {
   
}

section {
    height: 100vh; 
}

section h1, section h2, section h3, section h4, section span {
    margin: -.3em 0 .4em;
    margin-top: -0.3em;
    margin-right: 0px;
    margin-bottom: 0.4em;
    margin-left: 0px;
}
h1 {    
    text-align: center;
}


.header-wrap{
    width:100%;
    margin: 0 auto; 
}

.header-wrap h1 {
    font-size: 26px;
    font-size: 2rem;
    font-weight: 100;
    font-family:'Roboto Condensed', sans-serif;
    color:#fefefe;
    margin-top: -10px;
    text-align: center;
}

.header-wrap img {
    width:120px;
    height:120px;
    margin: 0 auto;
    display: block;
    
}

.main-nav {
    width:100%;
    background-color: #0198e1;
    background-color: #1d7cf2;
    margin-top: -10px;
}

.main-nav ul {
    width:100%;   
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    display: table;
    list-style: none;
    margin: 0 auto;
    margin-left: -5%;
}
.main-nav li {    
    display: table-cell;    
    text-align: center;
    width:33%;
}
.main-nav a {
    font-weight: 100;
    font-family:'Roboto Condensed', sans-serif;
    color:#fefefe;
    font-size: 1.3em;
    display: block;
    text-decoration: none;
}


.main-body {
    min-height: 250px;
}



.mobile-buttons {
    min-height:55px;
    border:1px solid black;
    margin-top: 2px;
    background-color: #1d7cf2;
}

.mobile-buttons h1 {
    
    font-weight: 100;
    font-family:'Roboto Condensed', sans-serif;
    color:#fefefe;
    font-size: 1.5em;
    text-align: center;
    
}







/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */



/* ---- Layout Containers ---- */

    /* Landing Page Styles */


   
}







/* ---- Page Elements ---- */


















/* ================================= 
  Media Queries
==================================== */


@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min-moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) 
{
   
}
    
    







@media only screen and (min-width: 769px) {
    

    
}









@media (min-width: 1025px) {
    

	

}